/**
*
* common settings
*
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
*:focus {
    outline: 0;
    outline-offset: 0;
}
:target {
    scroll-margin-top: 150px;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #f6f6f6 !important;
    -webkit-text-fill-color: #282828 !important;
    color: #282828 !important;
}
.red {
    color: #FF0202;
}
.white {
    color: #f6f6f6;
}
html {
    scroll-behavior: smooth;
}
/**
*
* fonts
*
*/
.f_700_60_73 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
}
.f_600_35_40 {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0.6px;
}
.f_600_26_37 {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 37px;
    letter-spacing: 0.02em;
}
.f_600_18_25 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
}
.f_600_18_25_adv {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
}
.f_600_18_25_h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.3px;
}
@font-face {
    font-family: 'montserrat_add'; 
    src: url("../montserrat/Montserrat-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
.f_600_18_25_i {
    font-family: 'montserrat_add';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.3px;
}
.f_600_16_20 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
}
.f_600_14_26 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1px;
}
.f_500_35_48 {
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0.05em;
}
.f_500_16_25 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}
.f_400_18_20 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.3px;
}
.f_400_13_25 {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
}
/* < 1399px */
@media screen and (max-width: 1399px) {
    .f_600_18_25 {
        font-size: 17px;
        line-height: 20px;
    }
    .f_600_16_20 {
        font-size: 15px;
        line-height: 20px;
    }
    .f_400_18_20 {
        font-size: 17px;
        line-height: 20px;
    }
}
/* < 1199px */
@media screen and (max-width: 1199px) {
    .f_600_18_25 {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.01em;
    }
    .f_600_18_25_i {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
    }
    .f_500_35_48 {
        font-size: 35px;
        line-height: 40px;
    }
    .f_400_18_20 {
        font-size: 16px;
        line-height: 20px;
    }
}
/* < 767px */
@media screen and (max-width: 767px) {
    .f_700_60_73 {
        font-size: 47px;
        line-height: 58px;
        letter-spacing: 1.4px;
    }
    .f_600_35_40 {
        font-size: 26px;
        line-height: 37px;
    }
    .f_600_18_25 {
        font-size: 16px;
        line-height: 20px;
    }
    .f_600_18_25_adv {
        font-size: 16px;
        line-height: 20px;
    }
    .f_600_18_25_h3 {
        letter-spacing: 0;
    }
    .f_600_18_25_i {
        font-size: 16px;
        line-height: 20px;
    }
    .f_600_18_25 {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.2px;
    }
    .f_600_16_20 {
        letter-spacing: 0.065em;
    }
    .f_500_35_48 {
        font-size: 26px;
        line-height: 37px;
    }
    .f_500_16_25 {
        font-size: 15px;
        line-height: 25px;
    }
}
/* < 575px */
@media screen and (max-width: 575px) {
    .f_700_60_73 {
        font-size: 28px;
        line-height: 37px;
        letter-spacing: 0.3px;
    }
    .f_600_35_40 {
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.1px;
    }
    .f_600_26_37 {
        font-size: 18px;
        line-height: 25px;
    }
    .f_600_18_25 {
        font-size: 15px;
    }
    .f_600_18_25_h3 {
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 0;
    }
    .f_600_18_25_i {
        font-size: 15px;
    }
    .f_600_16_20 {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0;
    }
    .f_500_35_48 {
        font-size: 22px;
        line-height: 30px;
    }
    .f_400_18_20 {
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0;
    }
}
/**
*
* wrapper and so on
*
*/
.wrapper_80,
.wrapper_70,
.wrapper_45,
.wrapper_0 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper_80 {
    margin-bottom: 80px;
}
.wrapper_70 {
    margin-bottom: 70px;
}
.wrapper_45 {
    margin-bottom: 45px;
}
.wrapper_0 {
    margin-bottom: 0;
}
._body {
    width: 100%;
    max-width: 1356px;
    padding: 0 15px;
}
.title {
    max-width: 538px;
}
/* < 1399px */
@media screen and (max-width: 1399px) {
    ._body {
        max-width: 1176px;
    }
    .wrapper_70 {
        margin-bottom: 55px;
    }
}
/* < 1199px */
@media screen and (max-width: 1199px) {
    .wrapper_80 {
        margin-bottom: 70px;
    }
    .wrapper_70 {
        margin-bottom: 72px;
    }
    .wrapper_45 {
        margin-bottom: 40px;
    }
    ._body {
        max-width: 744px;
    }
    .title {
        max-width: 466px;
    }
}
/* < 767px */
@media screen and (max-width: 767px) {
    .wrapper_80 {
        margin-bottom: 60px;
    }
    .wrapper_70 {
        margin-bottom: 62px;
    }
    .wrapper_45 {
        margin-bottom: 40px;
    }
    ._body {
        max-width: 575px;
    }
    .title {
        max-width: 346px;
    }
}
/* < 575px */
@media screen and (max-width: 575px) {
    .wrapper_80,
    .wrapper_70,
    .wrapper_45 {
        margin-bottom: 40px;
    }
    ._body {
        max-width: 487px;
    }
    .title {
        max-width: 310px;
    }
}
/**
*
* header section
*
*/
.header {
    position: fixed;
    top: 7px;
    left: 0;
    z-index: 10;
}
.header_body {
    display: flex;
    justify-content: flex-start;
}
.logo,
.menu,
.catalogue,
.consult {
    margin-right: 15px;
}
.logo,
.menu,
.catalogue,
.consult,
.whatsapp {
    height: 46px;
    color: #F6F6F6;
    text-transform: uppercase;
}
.logo,
.menu,
.catalogue {
    height: 46px;
    color: #F6F6F6;
    text-transform: uppercase;
    background-color: #282828;
}
.consult,
.whatsapp {
    background-color: #ff0000;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding: 0 15px;
    opacity: 0.9;
}
.logo img {
    width: 170px;
    height: 46px;
}
.menu {
    padding: 0 45px;
    opacity: 0.9;
}
.menu li:not(:last-child) {
    margin-right: 27px;
}
.menu li a,
.catalogue a,
.consult p {
    color: #ffffff;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-size: 0% 1px;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    padding-bottom: 4px;
}
.fromLeft {
    background-position: 0 calc(100% - 0px);
}
.fromCenter {
    background-position: 50% calc(100% - 0px);
}
.fromRight {
    background-position: 100% calc(100% - 0px);
}
.menu li a:hover,
.catalogue a:hover,
.consult p:hover {
    background-size: 100% 1px;
}
.catalogue {
    padding: 13px 30px;
    opacity: 0.9;
}
.consult {
    padding: 13px 28px;
    cursor: pointer;
}
.whatsapp {
    padding: 0 12px;
}
.whatsapp img {
    width: 46px;
    height: 46px;
}
/* < 1399px */
@media screen and (max-width: 1399px) {
    .logo,
    .menu,
    .catalogue,
    .consult {
        margin-right: 10px;
    }
    .logo {
        padding: 0 5px;
    }
    .menu {
        padding: 0 25px;
    }
    .menu li:not(:last-child) {
        margin-right: 21px;
    }
    .catalogue {
        padding: 13px 25px;
    }
    .consult {
        padding: 13px 25px;
    }
    .whatsapp {
        padding: 0;
    }
}
/* < 1199px */
@media screen and (max-width: 1199px) {
    .header_body {
        justify-content: center;
    }
    .logo {
        padding: 0 23px;
    }    
    .menu {
        display: none;
    }
    .catalogue,
    .consult {
        padding: 13px 33px;
    }
    .whatsapp {
        padding: 0 11px;
    }
}
/* < 767px */
@media screen and (max-width: 767px) {
    .header {
        top: 10px;
    }
    .logo {
        padding: 1px 4px;
        margin-right: 12px;
    }
    .logo img {
        width: 162px;
        height: 44px;
    }
    .catalogue {
        padding: 13px 17px;
        margin-right: 13px;
    }
    .consult {
        padding: 13px 17px;
        margin-right: 0;
        background-color: #282828;
        opacity: 0.9;
    }
    .whatsapp {
        position: fixed;
        right: 0;
        bottom: 15px;
        width: 61px;
        height: 52px;
        padding: 3px 10px 3px 5px;
    }
}
/* < 575px */
@media screen and (max-width: 575px) {
    .header {
        top: 0;
    }
    .header ._body {
        padding: 0;
        max-width: 100%;
    }
    .header_body {
        justify-content: space-between;
        background-color: #282828;
        opacity: 0.9;
    }    
    .logo,
    .consult {
        height: 50px;
    }
    .logo {
        padding-top: 10px;
        padding-left: 20px;
        margin-right: 0;
    }
    .logo img {
        width: 125px;
        height: 34px;
    }
    .catalogue {
        display: none;
    }
    .consult {
        padding-top: 16px;
        padding-right: 20px;
        margin-right: 0;
    }
}
/**
*
* banner section
*
*/
.banner {
    background-image: url('../img/banner_top_1440.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 530px;
}
.banner_title {
    margin-top: 190px;
    margin-bottom: 25px;
    /* position: relative; */
}
.banner_subtitle {
    width: 598px;
}
/* < 1399px */
@media screen and (max-width: 1399px) {
    .banner {
        background-image: url('../img/banner_top_1399.png');
        background-position-x: 70%;
    }
    .banner_title {
        margin-top: 183px;
    }
    .banner_title::after {
        top: 168px;
    }
}
/* < 1199px */
@media screen and (max-width: 1199px) {
    .banner {
        background-image: url('../img/banner_top_1200.png');
        background-position-x: center;
        height: 440px;
    }
    .banner_title {
        color: #F6F6F6;
        margin-top: 130px;
        margin-bottom: 20px;
    }
    .banner_subtitle {
        color: #F6F6F6;
    }
}
/* < 767px */
@media screen and (max-width: 767px) {
    .banner {
        background-image: url('../img/banner_top_768.png');
        height: 561px;
    }
    .banner ._body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .banner_title {
        margin-top: 190px;
        margin-bottom: 25px;
    }
    .banner_subtitle {
        width: 476px;
    }
}
/* < 575px */
@media screen and (max-width: 575px) {
    .banner {
        background-image: url('../img/banner_top_576.png');
        height: 400px;
    }
    .banner_title {
        margin-top: 150px;
        margin-bottom: 13px;
    }
    .banner_subtitle {
        width: 264px;
    }
}
/**
*
* use section
*
*/
.table {
	display: flex;
    justify-content: flex-start;
}
.ul_items {
	display: grid;
	grid-template-areas: "item_1"
                         "item_2"
                         "item_3"
                         "item_4"
                         "item_5"
                         "item_6"; 
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(1, 1fr);
}
.ul_items .item_1 {
	grid-area: item_1;
    border-top: 1px solid black;
    padding-top: 15px;
    margin-bottom: 28px;
}
.ul_items .item_2 {
	grid-area: item_2;
    border-top: 1px solid black;
    padding-top: 15px;
    margin-bottom: 28px;
}
.ul_items .item_3 {
	grid-area: item_3;
    border-top: 1px solid black;
    padding-top: 15px;
    margin-bottom: 28px;
}
.ul_items .item_4 {
	grid-area: item_4;
    border-top: 1px solid black;
    padding-top: 15px;
    margin-bottom: 28px;
}
.ul_items .item_5 {
	grid-area: item_5;
    border-top: 1px solid black;
    padding-top: 15px;
    margin-bottom: 28px;
}
.ul_items .item_6 {
	grid-area: item_6;
    border-top: 1px solid black;
    padding-top: 15px;
    margin-bottom: 0;
}
.use h2 {
    margin-bottom: 49px;
}
.use_table_leftcol {
    width: 371px;
    margin-right: 90px;
}
.use_table_rightcol {
    width: 866px;
    border-top: 1px solid black;
    padding-top: 15px;
}
.use_table_rightcol p {
    margin-bottom: 15px;
}
.use_table_rightcol p:last-child {
    margin-bottom: 0;
}
/* < 1399px */
@media screen and (max-width: 1399px) {
    .use_table_leftcol {
        width: 362px;
        margin-right: 30px;
    }
    .use_table_rightcol {
        width: 754px;
    }
    .ul_items .item_1,
    .ul_items .item_2,
    .ul_items .item_3,
    .ul_items .item_4,
    .ul_items .item_5 {
        margin-bottom: 39px;
    }
}
/* < 1199px */
@media screen and (max-width: 1199px) {
    .table {
        flex-direction: column;
    }
    .ul_items {
        grid-template-areas: "item_1 item_4"
                             "item_2 item_5"
                             "item_3 item_6"; 
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0;
        column-gap: 64px;
        margin-bottom: 7px;
    }
    .ul_items .item_1,
    .ul_items .item_2,
    .ul_items .item_3,
    .ul_items .item_4,
    .ul_items .item_5 {
        padding-top: 10px;
        margin-bottom: 28px;
    }
    .use_table_leftcol {
        width: 714px;
    }
    .use_table_rightcol {
        width: 714px;
        border-top: 0;
        padding-top: 0;
    }
}
/* < 767px */
@media screen and (max-width: 767px) {
    .ul_items {
        grid-template-areas: "item_1"
                             "item_2"
                             "item_3"
                             "item_4"
                             "item_5"
                             "item_6"; 
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
    .use_table_leftcol,
    .use_table_rightcol {
        width: 100%;
        margin-right: 0;
    }
    .use h2 {
        margin-bottom: 29px;
    }
    .ul_items .item_1,
    .ul_items .item_2,
    .ul_items .item_3,
    .ul_items .item_4,
    .ul_items .item_5 {
        margin-bottom: 20px;
    }
    .use_table_rightcol {
        margin-top: 9px;
    }
}
/* < 575px */
@media screen and (max-width: 575px) {
    .use h2 {
        margin-bottom: 24px;
    }
}
/**
*
* advantage section
*
*/
.items_1 {
	display: grid;
	grid-template-areas: "item_1 item_2 item_3"  
						 "item_4 item_5 item_6"; 
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 45px;
}
.items_1 .item_1 {
	grid-area: item_1;
}
.items_1 .item_2 {
	grid-area: item_2;
}
.items_1 .item_3 {
	grid-area: item_3;
}
.items_1 .item_4 {
	grid-area: item_4;
}
.items_1 .item_5 {
	grid-area: item_5;
}
.items_1 .item_6 {
	grid-area: item_6;
}
.advantage h2 {
    margin-bottom: 54px;
}
.advantage_table_row {
    display: flex;
    align-items: center;
}
.advantage_table_row .icon {
    margin-right: 50px;
}
.icon img {
    width: 37px;
    height: 37px;
}
/* < 1399px */
@media screen and (max-width: 1399px) {
    .items_1 {
        column-gap: 30px;
    }
}
/* < 1199px */
@media screen and (max-width: 1199px) {
    .items_1 {
        grid-template-areas: "item_1 item_5"  
                             "item_4 item_3"
                             "item_2 item_6"; 
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        column-gap: 39px;
    }
    .advantage_table_row .icon {
        margin-right: 40px;
    }
    .advantage h2 {
        margin-bottom: 51px;
    }
}
/* < 767px */
@media screen and (max-width: 767px) {
    .items_1 {
        row-gap: 35px;
    }
    .advantage h2 {
        margin-bottom: 41px;
    }
    .advantage_table_row .icon {
        margin-right: 25px;
    }
}
/* < 575px */
@media screen and (max-width: 575px) {
    .items_1 {
        grid-template-areas: "item_1"  
                             "item_4"
                             "item_2"
                             "item_5"
                             "item_3"
                             "item_6"; 
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
    .advantage h2 {
        margin-bottom: 33px;
    }
}
/**
*
* line_12 section
*
*/
.items_2 {
	display: grid;
	grid-template-areas: "item_1 item_2 item_3"  
						 "item_4 item_5 item_6"; 
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
    column-gap: 78px;
}
.items_2 .item_1 {
	grid-area: item_1;
}
.items_2 .item_2 {
	grid-area: item_2;
}
.items_2 .item_3 {
	grid-area: item_3;
}
.items_2 .item_4 {
	grid-area: item_4;
}
.items_2 .item_5 {
	grid-area: item_5;
}
.items_2 .item_6 {
	grid-area: item_6;
}
.line_12 h2 {
    margin-bottom: 32px;
}
.line12_col img {
    width: 350px;
    height: 170px;
    margin-bottom: 15px;
}
.line12_col .text {
    width: 390px;
    border-top: 1px solid black;
    padding-top: 15px;
}
.line12_col .text .first {
    margin-bottom: 10px;
}
/* < 1399px */
@media screen and (max-width: 1399px) {
    .items_2 {
        row-gap: 25px;
        column-gap: 30px;
    }
    .line_12 h2 {
        margin-bottom: 34px;
    }
    .line12_col img {
        margin-bottom: 12px;
    }
    .line12_col .text {
        width: 360px;
    }
    .line12_col .text .first {
        margin-bottom: 8px;
    }
}
/* < 1199px */
@media screen and (max-width: 1199px) {
    .items_2 {
        grid-template-areas: "item_1 item_2"
                             "item_3 item_4"  
                             "item_5 item_6"; 
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 43px;
        column-gap: 74px;
    }
    .line_12 h2 {
        margin-bottom: 29px;
    }
    .line12_col img {
        width: 319px;
        height: 155px;
        margin-bottom: 5px;
    }
    .line12_col .text {
        width: 320px;
        padding-top: 15px;
    }
    .line12_col .text .first {
        margin-bottom: 10px;
    }
}
/* < 767px */
@media screen and (max-width: 767px) {
    .items_2 {
        row-gap: 33px;
        column-gap: 31px;
    }
    .line_12 h2 {
        margin-bottom: 29px;
    }
    .line12_col img {
        width: 247px;
        height: 120px;
    }
    .line12_col .text {
        width: 247px;
        padding-top: 10px;
    }
    .line12_col .text .first {
        margin-bottom: 11px;
    }
}
/* < 575px */
@media screen and (max-width: 575px) {
    .items_2 {
        row-gap: 22px;
        column-gap: 25px;
    }
    .line_12 h2 {
        margin-bottom: 29px;
    }
    .line12_col img {
        width: 150px;
        height: 73px;
    }
    .line12_col .text {
        width: 152px;
        padding-top: 8px;
    }
    .line12_col .text .first {
        margin-bottom: 4px;
    }
}
/**
*
* line_12_use section
*
*/
.line_12_use {
    background-color: #f6f6f6;
    padding-top: 40px;
}
.line_12_use h3 {
    margin-bottom: 30px;
    margin-top: 6px;
}
.line12_col_use .text {
    padding-top: 20px;
}
.line12_col_use .text .first {
    margin-bottom: 9px;
}
.items_3 {
	display: grid;
	grid-template-areas: "item_1 item_2 item_3"; 
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(3, 1fr);
    column-gap: 79px;
    margin-bottom: 50px;
}
.items_3 .item_1 {
	grid-area: item_1;
}
.items_3 .item_2 {
	grid-area: item_2;
}
.items_3 .item_3 {
	grid-area: item_3;
}
.use_mobile {
    display: none;
}
.line_12_use .line12_col .img {
    border-bottom: none;
}
.line_12_use .img1,
.line_12_use .img2,
.line_12_use .img3 {
    display: block;
    width: 390px;
    height: 315px;
    cursor: pointer;
    transition: all 0.5s;
}
.line_12_use .img1 {
    background: url('../img/line12_use_01.png');
    background-size: cover;
}
.line_12_use .img2 {
    background: url('../img/line12_use_02.png');
    background-size: cover;
}
.line_12_use .img3 {
    background: url('../img/line12_use_03.png');
    background-size: cover;
}
.line_12_use .img1:hover,
.line_12_use .img2:hover,
.line_12_use .img3:hover {
    background-position: -390px 0;
}
/* < 1399px */
@media screen and (max-width: 1399px) {
    .items_3 {
        column-gap: 30px;
    }
    .line_12_use .img1,
    .line_12_use .img2,
    .line_12_use .img3 {
        width: 362px;
        height: 292px;
    }
    .line_12_use .img1:hover,
    .line_12_use .img2:hover,
    .line_12_use .img3:hover {
        background-position: -361px 0;
    }
}
/* < 1199px */
@media screen and (max-width: 1199px) {
    .items_3 {
        grid-template-areas: "item_1"
                             "item_2"
                             "item_3"; 
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
        margin-bottom: 60px;
    }
    .line_12_use .img1,
    .line_12_use .img2,
    .line_12_use .img3 {
        display: none;
    }
    .use_mobile {
        display: block;
        width: 714px;
        height: 276px;
        background-color: #ffffff;
    }
    swiper-container {
        width: 100%;
        height: 100%;
    }
    swiper-slide {
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .line12_col_use .text {
        padding-top: 14px;
    }
    .line12_col_use .text .first {
        margin-bottom: 5px;
    }
}
/* < 767px */
@media screen and (max-width: 767px) {
    .items_3 {
        row-gap: 40px;
        margin-bottom: 50px;
    }    
    .use_mobile {
        width: 534px;
        height: 203px;
    }
    .line_12_use h3 {
        margin-bottom: 32px;
    }
    .line12_col_use .text {
        padding-top: 17px;
    }
}
/* < 575px */
@media screen and (max-width: 575px) {
    .line_12_use ._body {
        padding-right: 0;
    }
    .items_3 {
        row-gap: 35px;
        margin-bottom: 40px;
    }    
    .use_mobile {
        width: 100%;
        height: auto;
    }
    swiper-slide {
        width: 70%!important;
        margin-right: 0!important;
    }
    swiper-slide:nth-child(3n) {
        width: 20%;
    }
}
/**
*
* line_22 section
*
*/
.items_4 {
	display: grid;
	grid-template-areas: "item_1 item_2 item_3 item_4"  
						 "item_5 item_6 item_7 item_8"; 
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
    row-gap: 21px;
    column-gap: 82px;
}
.items_4 .item_1 {
	grid-area: item_1;
}
.items_4 .item_2 {
	grid-area: item_2;
}
.items_4 .item_3 {
	grid-area: item_3;
}
.items_4 .item_4 {
	grid-area: item_4;
}
.items_4 .item_5 {
	grid-area: item_5;
}
.items_4 .item_6 {
	grid-area: item_6;
}
.items_4 .item_7 {
	grid-area: item_7;
}
.items_4 .item_8 {
	grid-area: item_8;
}
.line_22 h2 {
    margin-bottom: 34px;
}
.line22_col .text {
    width: 270px;
    border-top: 1px solid #282828;
    padding-top: 15px;
}
.line22_col img {
    width: 260px;
    height: 120px;
    margin-bottom: 13px;
}
.line22_col .text .first {
    margin-bottom: 10px;
}
/* < 1399px */
@media screen and (max-width: 1399px) {
    .items_4 {
        row-gap: 25px;
        column-gap: 36px;
    }
    .line22_col .text {
        width: 260px;
    }
    .line22_col .text .first {
        margin-bottom: 7px;
    }
}
/* < 1199px */
@media screen and (max-width: 1199px) {
    .items_4 {
        grid-template-areas: "item_1 item_2 item_3"
                             "item_4 item_5 item_6"  
                             "item_7 item_8 item_9"; 
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        row-gap: 19px;
        column-gap: 45px;
        margin-bottom: -20px;
    }
    .line_22 h2 {
        margin-bottom: 34px;
    }
    .line22_col img {
        width: 207px;
        height: 96px;
        margin-bottom: 1px;
    }
    .line22_col .text {
        width: 207px;
    }
    .line22_col .text .first {
        margin-bottom: 11px;
    }
}
/* < 767px */
@media screen and (max-width: 767px) {
    .items_4 {
        grid-template-areas: "item_1 item_2"
                             "item_3 item_4"
                             "item_5 item_6"  
                             "item_7 item_8"; 
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 11px;
        column-gap: 31px;
    }
    .line_22 h2 {
        margin-bottom: 29px;
    }
    .line22_col img {
        width: 246px;
        height: 114px;
        margin-bottom: 6px;
    }
    .line22_col .text {
        width: 248px;
        padding-top: 10px;
    }
    .line22_col .text .first {
        margin-bottom: 11px;
    }
}
/* < 575px */
@media screen and (max-width: 575px) {
    .items_4 {
        row-gap: 0;
        column-gap: 30px;
        margin-bottom: -23px;
    }
    .line_22 h2 {
        margin-bottom: 29px;
    }
    .line22_col img {
        width: 152px;
        height: 70px;
        margin-bottom: 4px;
    }
    .line22_col .text {
        width: 152px;
        padding-top: 8px;
    }
    .line22_col .text .first {
        margin-bottom: 3px;
    }
}
/**
*
* line_22_use section
*
*/
.line_22_use {
    background-color: #f6f6f6;
    padding-top: 40px;
}
.line_22_use h3 {
    margin-bottom: 30px;
    margin-top: 18px;
}
.line_22_use .line22_col .img {
    border-bottom: none;
}
.line_22_use .img1,
.line_22_use .img2,
.line_22_use .img3 {
    display: block;
    width: 390px;
    height: 315px;
    cursor: pointer;
    transition: all 0.5s;
}
.line_22_use .img1 {
    background: url('../img/line22_use_01.png');
    background-size: cover;
}
.line_22_use .img2 {
    background: url('../img/line22_use_02.png');
    background-size: cover;
}
.line_22_use .img3 {
    background: url('../img/line22_use_03.png');
    background-size: cover;
}
.line_22_use .img1:hover,
.line_22_use .img2:hover,
.line_22_use .img3:hover {
    background-position: -390px 0;
}
/* < 1299px */
@media screen and (max-width: 1399px) {
    .items_3 {
        column-gap: 30px;
    }
    .line_22_use .img1,
    .line_22_use .img2,
    .line_22_use .img3 {
        width: 362px;
        height: 292px;
    }
    .line_22_use .img1:hover,
    .line_22_use .img2:hover,
    .line_22_use .img3:hover {
        background-position: -362px 0;
    }
    .line_22_use h3 {
        margin-top: 14px;
    }
}
/* < 1199px */
@media screen and (max-width: 1199px) {
    .line_22_use h3 {
        margin-top: 3px;
    }
    .line_22_use .img1,
    .line_22_use .img2,
    .line_22_use .img3 {
        display: none;
    }
}
/* < 767px */
@media screen and (max-width: 767px) {}
/* < 575px */
@media screen and (max-width: 575px) {
    .line_22_use ._body {
        padding-right: 0;
    }
    .line_22_use h3 {
        margin-top: -9px;
    }
}
/**
*
* parallax section
*
*/
.parallax_out.part1 {
    background-image: url("../img/parallax1.png");
}
.parallax_out.part2 {
    background-image: url("../img/parallax2.png");
}
.parallax_out.part3 {
    background-image: url("../img/parallax3.png");
}
.parallax_out {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
}
.parallax {
    background-color: #282828;
    opacity: 0.8;
    width: 100%;
}
.parallax_out.part1 ._body {
    padding-top: 70px;
}
.parallax_out.part2 ._body,
.parallax_out.part3 ._body {
    padding-top: 60px;
}
.parallax_out.part1 ._body {
    height: 360px;
}
.parallax_out.part2 ._body,
.parallax_out.part3 ._body {
    height: 485px;
}
.parallax_out.part1 h2,
.parallax_out.part1 p,
.dm-modal h2,
.dm-modal p {
    width: 565px;
}
.parallax_out.part2 h2,
.parallax_out.part2 p,
.parallax_out.part3 h2,
.parallax_out.part3 p {
    width: 620px;
}
.parallax_out.part1 h2,
.parallax_out.part2 h2,
.parallax_out.part3 h2,
.dm-modal h2 {
    margin-bottom: 20px;
}
.parallax_out.part1 p,
.dm-modal p {
    margin-bottom: 52px;
}
.parallax_out.part2 p,
.parallax_out.part3 p {
    margin-bottom: 20px;
}
.parallax_out.part2 p.last,
.parallax_out.part3 p.last {
    margin-bottom: 50px;
}

/* < 1399px */
@media screen and (max-width: 1399px) {
    .parallax_out.part1 h2,
    .parallax_out.part1 p,
    .dm-modal h2,
    .dm-modal p {
        width: 558px;
    }
    .parallax_out.part2 h2,
    .parallax_out.part2 p,
    .parallax_out.part3 h2,
    .parallax_out.part3 p {
        width: 620px;
    }
}
/* < 1199px */
@media screen and (max-width: 1199px) {
    .parallax {
        opacity: 0.85;
    }
    .parallax_out.part1 {
        background-image: url("../img/parallax1_1200.png");
    }
    .parallax_out.part2 {
        background-image: url("../img/parallax2_1200.png");
    }
    .parallax_out.part3 {
        background-image: url("../img/parallax3_1200.png");
    }
    .parallax_out.part2 ._body,
    .parallax_out.part3 ._body {
        height: 510px;
    }
    .parallax_out.part1 h2,
    .parallax_out.part1 p,
    .dm-modal h2,
    .dm-modal p {
        width: 532px;
    }
    .parallax_out.part2 h2,
    .parallax_out.part2 p,
    .parallax_out.part3 h2,
    .parallax_out.part3 p {
        width: 466px;
    }
    .parallax_out.part2 p.last,
    .parallax_out.part3 p.last {
        margin-bottom: 38px;
    }
}
/* < 767px */
@media screen and (max-width: 767px) {
    .parallax {
        opacity: 0.9;
    }
    .parallax_out.part1 {
        background-image: url("../img/parallax1_768.png");
    }
    .parallax_out.part2 {
        background-image: url("../img/parallax2_768.png");
    }
    .parallax_out.part3 {
        background-image: url("../img/parallax3_768.png");
    }
    .parallax_out.part1 ._body,
    .parallax_out.part2 ._body,
    .parallax_out.part3 ._body {
        padding-top: 40px;
    }
    .parallax_out.part1 ._body {
        height: 294px;
    }
    .parallax_out.part2 ._body,
    .parallax_out.part3 ._body {
        height: 444px;
    }
    .parallax_out.part1 h2,
    .parallax_out.part1 p,
    .dm-modal h2,
    .dm-modal p {
        width: 400px;
    }
    .parallax_out.part1 p,
    .dm-modal p {
        margin-bottom: 49px;
    }
    .parallax_out.part2 h2,
    .parallax_out.part2 p,
    .parallax_out.part3 h2,
    .parallax_out.part3 p {
        width: 534px;
    }
    .parallax_out.part1 h2,
    .dm-modal h2 {
        margin-bottom: 9px;
    }
    .parallax_out.part2 h2,
    .parallax_out.part3 h2 {
        margin-bottom: 18px;
    }
    .parallax_out.part2 p.last,
    .parallax_out.part3 p.last {
        margin-bottom: 30px;
    }
}
/* < 575px */
@media screen and (max-width: 575px) {
    .parallax_out.part1 {
        background-image: url("../img/parallax1_576.png");
    }
    .parallax_out.part2 {
        background-image: url("../img/parallax2_576.png");
    }
    .parallax_out.part3 {
        background-image: url("../img/parallax3_576.png");
    }    
    .parallax_out.part1 ._body,
    .parallax_out.part2 ._body,
    .parallax_out.part3 ._body {
        padding-top: 30px;
    }
    .parallax_out.part1 ._body {
        height: 347px;
    }
    .parallax_out.part2 ._body,
    .parallax_out.part3 ._body {
        height: 547px;
    }
    .parallax_out.part1 h2,
    .parallax_out.part1 p,
    .dm-modal h2,
    .dm-modal p {
        width: 100%;
    }
    .parallax_out.part1 h2,
    .parallax_out.part2 h2,
    .parallax_out.part3 h2 {
        margin-bottom: 10px;
    }
    .parallax_out.part1 p,
    .dm-modal p {
        margin-bottom: 14px;
    }
    .parallax_out.part2 h2,
    .parallax_out.part2 p,
    .parallax_out.part3 h2,
    .parallax_out.part3 p {
        width: 100%;
    }
    .parallax_out.part2 p,
    .parallax_out.part3 p {
        margin-bottom: 19px;
    }
    .parallax_out.part2 p.last,
    .parallax_out.part3 p.last {
        margin-bottom: 16px;
    }
}
/**
*
* form section
*
*/
.form_phone {
    position: relative;
}
.form_phone::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.9) url('../img/loader.gif') center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
}
.dm-modal .form_phone::after {
    background: rgba(197, 197, 197, 0.9) url('../img/loader.gif') center / 50px no-repeat;
}
.form_phone._sending::after {
    opacity: 1;
    visibility: visible;
}
.input_phone {
    background-color: #282828;
    color: #f6f6f6;
    width: 309px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    margin-right: 30px;
}
.dm-modal .input_phone {
    background-color: #F6F6F6;
    border-bottom: 1px solid #282828;
    color: #282828;
}
#error_input1,
#error_input2,
#error_input3,
#error_input4 {
    display: none;
    width: 309px;
    height: 26px;
    background-color: #F6F6F6;
    color: #cc0000;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 0;
}
#error_input1.active,
#error_input2.active,
#error_input3.active,
#error_input4.active {
    display: block;
}
.input_phone::placeholder {
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2px;
}
.dm-modal .input_phone::placeholder {
    color: #282828;
}
#button_phone1,
#button_phone2,
#button_phone3 {
    background-color: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
    width: 273px;
    height: 50px;
    border: 1px solid #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    cursor: pointer;
}
#button_phone4 {
    background-color: #F6F6F6;
    color: #282828;
    width: 273px;
    height: 50px;
    border: 1px solid #282828;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    cursor: pointer;
}
#button_phone1.active,
#button_phone2.active,
#button_phone3.active {
    background-color: rgba(0, 0, 0, 1);
}
#button_phone4.active {
    background-color: #ff0000;
    color: #F6F6F6;
    border: 1px solid #f6f6f6;
}
#success1,
#success2,
#success3,
#success4,
.form_phone.unactive,
.form_modal {
    display: none;
}
#success1.active,
#success2.active,
#success3.active,
#success4.active,
.form_modal.active {
    display: block;
}
.success {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}
/**
*
* modal window form section
*
*/
.dm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(40, 40, 40, 0.95);
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.dm-overlay:target {
    display: block;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}
.dm-table {
    display: table;
    width: 100%;
    height: 100%;
}
.dm-cell {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
    text-align: center;
}
.dm-modal {
    display: inline-block;
    padding: 75px 65px;
    width: 750px;
    height: 380px;
    background: #f6f6f6;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    color: #282828;
    text-align: left;
    -webkit-animation: fade .8s;
    -moz-animation: fade .8s;
    animation: fade .8s;
    position: relative;
}
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
#close_hover {
    fill: #f6f6f6;
}
#close_hover:hover {
    fill: #ffffff;
}
/* < 1399px */
@media screen and (max-width: 1399px) {}
/* < 1199px */
@media screen and (max-width: 1199px) {
    .input_phone {
        width: 280px;
        margin-right: 25px;
    }
    #error_input1,
    #error_input2,
    #error_input3,
    #error_input4 {
        width: 280px;
    }
}
/* < 767px */
@media screen and (max-width: 767px) {
    .input_phone {
        width: 252px;
        font-size: 15px;
        line-height: 20px;
        margin-right: 27px;
    }
    .input_phone::placeholder {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 5px;
    }
    #error_input1,
    #error_input2,
    #error_input3,
    #error_input4 {
        width: 252px;
    }
    #button_phone1,
    #button_phone2,
    #button_phone3,
    #button_phone4 {
        width: 252px;
        font-size: 14px;
        line-height: 17px;
    }
    .success img {
        width: 55px;
        height: 55px;
    }
    .dm-modal {
        padding: 73px 49px;
        width: 622px;
        height: 350px;
    }
}
/* < 575px */
@media screen and (max-width: 575px) {
    .input_phone {
        width: 239px;
        margin-right: 0;
    }
    #error_input1,
    #error_input2,
    #error_input3,
    #error_input4 {
        width: 239px;
    }
    #button_phone1,
    #button_phone2,
    #button_phone3,
    #button_phone4 {
        width: 239px;
        margin-top: 42px;
    }
    .dm-modal {
        padding: 50px 5px 55px 15px;
        width: 100%;
        height: 372px;
    }
}
/**
*
* portfolio section
*
*/
.owl_items {
	display: grid;
	grid-template-areas: "item_1 item_2"; 
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}
.owl_items .item_1 {
	grid-area: item_1;
}
.owl_items .item_2 {
	grid-area: item_2;
}
.portfolio h2 {
    margin-bottom: 50px;
}
.owl_text {
    background-color: #ffffff;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 209px;
    margin: 0!important;
}
.owl-next {
    right: 0;
}
.owl-prev {
    left: 0;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: unset!important;
}
.owl-dots {
    text-align: right!important;
    position: absolute;
    right: 0;
    bottom: 4px;
    background-color: #ffffff;
    height: 100px;
    width: 50%;
}
.owl-dot span {
    background-color: #f1f1f1!important;
    border-radius: 0!important;
    width: 12px!important;
    height: 12px!important;
}
.owl-dot.active span {
    background-color: #282828!important;
    opacity: 0.2;
}
button.owl-dot {
    margin-right: -7px!important;
}
.slide {
    width: 644px!important;
    height: 466px!important;
}
.owl-carousel p.first {
    margin-top: 30px;
}
.owl-carousel p.second {
    margin-top: 15px;
}
/* < 1399px */
@media screen and (max-width: 1399px) {
    .slide {
        width: 558px!important;
        height: 399px!important;
    }    
    .owl-prev, .owl-next {
        top: 175px;
    }
    .owl-dots {
        bottom: -6px;
    }
}
/* < 1199px */
@media screen and (max-width: 1199px) {
    .owl-carousel {
        margin-bottom: 28px;
    }
    .owl_items {
        grid-template-areas: "item_1"
                             "item_2"; 
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(1, 1fr);
        row-gap: 0;
        column-gap: 0;
        background-color: #F6F6F6;
    }
    .owl_items .item_1,
    .owl_items .item_2 {
        text-align: -webkit-center;
    }
    .owl_items .item_1 {
        margin-top: 30px;
    }
    .owl_items .item_2 {
        margin-bottom: 30px;
    }
    .slide {
        width: 539px!important;
        height: 383px!important;
    }
    .owl-prev, .owl-next {
        top: 394px;
    }
    .owl-prev img, .owl-next img {
        width: 50px;
        height: 50px;
    }
    .owl-dots {
        width: 100%;
        text-align: left!important;
        left: -6px;
        bottom: -50px;
        height: unset;
        background-color: unset;
        display: flex;
        justify-content: space-between;
    }
    .owl-dot span {
        width: 15px!important;
        height: 15px!important;
    }
    .portfolio h2 {
        margin-bottom: 40px;
    }
    .owl-carousel p.first {
        margin-top: 30px;
    }
}
/* < 767px */
@media screen and (max-width: 767px) {
    .portfolio h2 {
        margin-bottom: 30px;
    }
    .owl-carousel {
        margin-bottom: 46px;
    }
    .owl-prev, .owl-next {
        top: 332px;
    }
    .owl-prev img, .owl-next img {
        width: 40px;
        height: 40px;
    }
    .owl_items .item_1 {
        margin-top: 25px;
    }
    .owl_items .item_2 {
        margin-bottom: 25px;
    }
    .slide {
        width: 452px!important;
        height: 322px!important;
    }
    .owl-carousel p.first {
        margin-top: 20px;
    }
    .owl-carousel p.second {
        margin-top: 10px;
    }
    .owl-dots {
        bottom: -35px;
    }
    .owl-dot span {
        width: 14px!important;
        height: 14px!important;
    }
    button.owl-dot {
        margin-right: -10px!important;
    }
}
/* < 575px */
@media screen and (max-width: 575px) {
    .portfolio h2 {
        margin-bottom: 25px;
    }
    .owl-carousel {
        margin-bottom: 30px;
    }
    .owl_items .item_1 {
        margin-top: 10px;
    }
    .owl_items .item_2 {
        margin-bottom: 10px;
    }
    .owl-prev img, .owl-next img {
        width: 30px;
        height: 30px;
    }
    .owl-prev, .owl-next {
        top: 196px;
    }
    .slide {
        width: 282px!important;
        height: 200px!important; 
    }
    .owl-carousel p.first {
        margin-top: 15px;
    }
    .owl-dot span {
        width: 10px!important;
        height: 10px!important;
    }
}
/**
*
* visual section
*
*/
.visual {
    background-color: #F6F6F6;
}
.visual h2 {
    margin-top: 80px;
    margin-bottom: 50px;
}
.video {
    position: relative;
    padding-bottom: 50px;
}
.soundoff {
    position: absolute;
    display: block;
    left: 20px;
    bottom: 70px;
    cursor: pointer;
    z-index: 1;
}
.soundoff img {
    width: 34px;
    height: 34px;
}
/* < 1399px */
@media screen and (max-width: 1399px) {}
/* < 1199px */
@media screen and (max-width: 1199px) {
    .visual h2 {
        margin-top: 70px;
        margin-bottom: 40px;
    }
}
/* < 767px */
@media screen and (max-width: 767px) {
    .visual h2 {
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .soundoff img {
        width: 30px;
        height: 30px;
    }
}
/* < 575px */
@media screen and (max-width: 575px) {
    .visual h2 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .soundoff img {
        width: 20px;
        height: 20px;
    }
}
/**
*
* faq section
*
*/
.faq h2 {
    margin-bottom: 40px;
}
.quest {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 54px;
    background-color: #F6F6F6;
    margin-bottom: 25px;
    position: relative;
    cursor: pointer;
    padding-left: 22px;
}
.quest.last {
    margin-bottom: 5px;
}
.quest::after {
    content: url('../img/down.png');
    position: absolute;
    right: 70px;
}
.quest.active {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.quest.active::after {
    content: url('../img/up.png');
}
.answ {
    display: none;
    width: 880px;
    padding-bottom: 40px;
    padding-left: 22px;
}
.a_faq {
    color: #282828;
    font-weight: bold;
}
/* < 1399px */
@media screen and (max-width: 1399px) {
    .quest::after {
        right: 40px;
    }
}
/* < 1199px */
@media screen and (max-width: 1199px) {
    .quest::after {
        right: 15px;
    }
    .quest.last {
        margin-bottom: 10px;
    }
    .answ {
        width: 570px;
    }
}
/* < 767px */
@media screen and (max-width: 767px) {
    .faq h2 {
        margin-bottom: 30px;
    }
    .quest {
        height: 50px;
        padding-left: 15px;
        padding-right: 109px;
    }
    .quest::after {
        right: 20px;
    }
    .answ {
        width: 425px;
    }
}
/* < 575px */
@media screen and (max-width: 575px) {
    .faq h2 {
        margin-bottom: 20px;
    }
    .quest {
        height: 70px;
        padding-right: 60px;
    }
    .quest::after {
        right: 8px;
    }
    .quest.last {
        margin-bottom: 20px;
    }
    .answ {
        width: 100%;
    }
}
/**
*
* footer section
*
*/
.footer {
    background-image: url('../img/footer_1400.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer .title {
    margin-top: 60px;
    margin-bottom: 50px;
}
.items_5 {
	display: grid;
	grid-template-areas: "item_1 item_2 item_3 item_4"; 
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(4, 1fr);
    margin-bottom: 59px;
}
.items_5 .item_1 {
	grid-area: item_1;
}
.items_5 .item_2 {
	grid-area: item_2;
}
.items_5 .item_3 {
	grid-area: item_3;
}
.items_5 .item_4 {
	grid-area: item_4;
}
.items_5 .item_1,
.items_5 .item_2,
.items_5 .item_3,
.items_5 .item_4 {
    border-left: 1px solid #F6F6F6;
    padding-left: 40px;
}
.p1 {
    margin-bottom: 19px;
}
.p2 {
    margin-bottom: 30px;
}
.agreed {
    padding-bottom: 20px;
}
/* < 1399px */
@media screen and (max-width: 1399px) {
    .items_5 .item_1,
    .items_5 .item_2,
    .items_5 .item_3,
    .items_5 .item_4 {
        padding-left: 25px;
    }
}
/* < 1199px */
@media screen and (max-width: 1199px) {
    .footer {
        background-image: url('../img/footer_1200.png');
    }
    .items_5 {
        grid-template-areas: "item_1 item_2"
                             "item_3 item_4"; 
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        column-gap: 124px;
        row-gap: 43px;
        margin-bottom: 40px;
    }
    .p1, .p2 {
        margin-bottom: 10px;
    }
}
/* < 767px */
@media screen and (max-width: 767px) {
    .footer {
        background-image: url('../img/footer_767.png');
    }
    .footer .title {
        margin-top: 45px;
        margin-bottom: 40px;
    }
    .items_5 {
        column-gap: 110px;
        row-gap: 25px;
        margin-bottom: 16px;
    }
}
/* < 575px */
@media screen and (max-width: 575px) {
    .footer {
        background-image: url('../img/footer_575.png');
    }
    .footer .title {
        margin-top: 36px;
        margin-bottom: 33px;
    }
    .items_5 {
        grid-template-areas: "item_1"
                             "item_2"
                             "item_3"
                             "item_4"; 
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
        margin-bottom: 42px;
    }
    .agreed {
        width: 177px;
        padding-bottom: 20px;
    }
}