/**
*
* common settings
*
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
a {
    text-decoration: none;
}
*:focus {
    outline: 0;
    outline-offset: 0;
}
:target {
    scroll-margin-top: 150px;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #f6f6f6 !important;
    -webkit-text-fill-color: #282828 !important;
    color: #282828 !important;
}
.red {
    color: #FF0202;
}
.white {
    color: #f6f6f6;
}
html {
    scroll-behavior: smooth;
}
/**
*
* fonts
*
*/
.f_700_60_73 {
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.f_600_35_40 {
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0.02em;
}
.f_600_26_36 {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.03em;
}
.f_600_18_25 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
}
.f_600_16_20 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
}
.f_500_35_48 {
    font-weight: 500;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0.03em;
}
.f_500_16_25 {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.02em;
}
.f_400_18_20 {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.02em;
}
.f_400_13_25 {
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
}
/* < 1400px */
@media screen and (max-width: 1399px) {
    .f_600_18_25 {
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 0.01em;
    }
    .f_600_16_20 {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.01em;
    }
    .f_500_16_25 {
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.02em;
    }
    .f_400_18_20 {
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 0.01em;
    }
}
/* < 1200px */
@media screen and (max-width: 1199px) {}
/* < 768px */
@media screen and (max-width: 767px) {
    .f_700_60_73 {
        font-size: 47px;
        line-height: 58px;
    }
    .f_600_35_40 {
        font-size: 26px;
        line-height: 37px;
        letter-spacing: 0.03em;
    }
    .f_600_18_25 {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.01em;
    }
}
/* < 575px */
@media screen and (max-width: 575px) {
    .f_700_60_73 {
        font-size: 28px;
        line-height: 37px;
        letter-spacing: 0.01em;
    }
    .f_600_35_40 {
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.01em;
    }
    .f_600_26_36 {
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.02em;
    }
}
/**
*
* wrapper and so on
*
*/
.wrapper_80,
.wrapper_45,
.wrapper_0 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper_80 {
    margin-bottom: 80px;
}
.wrapper_45 {
    margin-bottom: 45px;
}
.wrapper_0 {
    margin-bottom: 0;
}
._body {
    width: 100%;
    max-width: 1400px;
    padding: 0 37px;
}
.title {
    width: 538px;
}
/* < 1400px */
@media screen and (max-width: 1399px) {
    ._body {
        max-width: 1399px;
        padding: 0 127px;
    }
}
/* < 1200px */
@media screen and (max-width: 1199px) {
    ._body {
        max-width: 1199px;
        padding: 0 243px;
    }
}
/* < 768px */
@media screen and (max-width: 767px) {}
/* < 575px */
@media screen and (max-width: 575px) {}
/**
*
* header section
*
*/
.header {
    position: fixed;
    top: 7px;
    left: 0;
    z-index: 10;
}
.header_body {
    display: flex;
    justify-content: space-between;
}
.logo,
.menu,
.catalogue,
.consult,
.whatsapp {
    height: 46px;
    color: #F6F6F6;
    text-transform: uppercase;
}
.logo,
.menu,
.catalogue {
    height: 46px;
    color: #F6F6F6;
    text-transform: uppercase;
    background-color: #282828;
}
.consult,
.whatsapp {
    background-color: #ff0000;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding: 0 15px;
}
.logo img {
    width: 170px;
    height: 46px;
}
.menu {
    padding: 0 45px;
}
.menu li:not(:last-child) {
    margin-right: 27px;
}
.menu li a {
    text-decoration: none;
}
.catalogue {
    padding: 13px 30px;
}
.consult {
    padding: 13px 28px;
}
.whatsapp {
    padding: 0 10px;
}
.whatsapp img {
    width: 46px;
    height: 46px;
}
/* < 1400px */
@media screen and (max-width: 1399px) {
    .logo {
        padding: 0 5px;
    }
    .menu {
        padding: 0 26px;
    }
    .menu li:not(:last-child) {
        margin-right: 21px;
    }
    .catalogue {
        padding: 13px 25px;
    }
    .consult {
        padding: 13px 25px;
    }
    .whatsapp {
        padding: 0;
    }
}
/* < 1200px */
@media screen and (max-width: 1199px) {
    .header_body {
        display: flex;
        justify-content: flex-start;
    }
    .logo,
    .consult {
        margin-right: 10px;
    }    
    .menu {
        display: none;
    }
    .catalogue,
    .consult {
        padding: 13px 33px;
    }
}
/* < 768px */
@media screen and (max-width: 767px) {}
/* < 575px */
@media screen and (max-width: 575px) {}
/**
*
* banner section
*
*/
.banner {
    background-image: url('../img/banner_top_1440.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 530px;
}
.banner .title {
    margin-top: 190px;
    margin-bottom: 25px;
}
.banner .subtitle {
    margin-bottom: 133px;
    width: 609px;
}
/* < 1400px */
@media screen and (max-width: 1399px) {
    .banner {
        background-image: url('../img/banner_top_1399.png');
    }
}
/* < 1200px */
@media screen and (max-width: 1199px) {
    .banner {
        background-image: url('../img/banner_top_1200.png');
        height: 440px;
    }
    .banner .title,
    .banner .subtitle {
        color: #F6F6F6;
    }
    .banner .title {
        margin-top: 130px;
        margin-bottom: 20px;
    }
    .banner .subtitle {
        margin-bottom: 107px;
        width: 600px;
    }}
/* < 768px */
@media screen and (max-width: 767px) {
    .banner {
        background-image: url('../img/banner_top_768.png');
        height: 561px;
    }
    .banner .title,
    .banner .subtitle {
        text-align: center;
    }
    .banner .title {
        margin-top: 190px;
        margin-bottom: 25px;
    }
    .banner .subtitle {
        margin-bottom: 157px;
        width: 476px;
    }}
/* < 575px */
@media screen and (max-width: 575px) {
    .banner {
        background-image: url('../img/banner_top_576.png');
        height: 400px;
    }
    .banner .title {
        margin-top: 150px;
        margin-bottom: 13px;
    }
    .banner .subtitle {
        margin-bottom: 113px;
        width: 254px;
    }
}
/**
*
* use section
*
*/
.table {
	display: grid;
	grid-template-areas: "item_1 item_2"; 
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(2, 1fr);
    column-gap: 90px;
}
.table .item_1 {
	grid-area: item_1;
}
.table .item_2 {
	grid-area: item_2;
}
.use h2 {
    margin-bottom: 50px;
}
.use_table_leftcol {
    width: 371px;
}
.use_table_leftcol ul li {
    padding-top: 15px;
    margin-bottom: 30px;
    border-top: 1px solid black;
}
.use_table_rightcol {
    width: 866px;
    border-top: 1px solid black;
    padding-top: 15px;
}
.use_table_rightcol p {
    margin-bottom: 15px;
}
/* < 1400px */
@media screen and (max-width: 1399px) {
    .table {
        column-gap: 47px;
    }
    .use_table_leftcol {
        width: 345px;
    }
    .use_table_rightcol {
        width: 754px;
    }
}
/* < 1200px */
@media screen and (max-width: 1199px) {}
/* < 768px */
@media screen and (max-width: 767px) {}
/* < 575px */
@media screen and (max-width: 575px) {}
/**
*
* advantage section
*
*/
.items_1 {
	display: grid;
	grid-template-areas: "item_1 item_2 item_3"  
						 "item_4 item_5 item_6"; 
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 133px;
}
.items_1 .item_1 {
	grid-area: item_1;
}
.items_1 .item_2 {
	grid-area: item_2;
}
.items_1 .item_3 {
	grid-area: item_3;
}
.items_1 .item_4 {
	grid-area: item_4;
}
.items_1 .item_5 {
	grid-area: item_5;
}
.items_1 .item_6 {
	grid-area: item_6;
}
.advantage h2 {
    margin-bottom: 54px;
}
.advantage_table_row {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.advantage_table_row .icon {
    margin-right: 50px;
}
.icon img {
    width: 37px;
    height: 37px;
}
/* < 1400px */
@media screen and (max-width: 1399px) {
    .items_1 {
        column-gap: 73px;
    }
}
/* < 1200px */
@media screen and (max-width: 1199px) {
    .items_1 {
        grid-template-areas: "item_1 item_5"  
                             "item_4 item_3"
                             "item_2 item_6"; 
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        column-gap: 63px;
    }    
}
/* < 768px */
@media screen and (max-width: 767px) {
    .items_1 {
        row-gap: 35px;
    }    

}
/* < 575px */
@media screen and (max-width: 575px) {
    .items_1 {
        grid-template-areas: "item_1"  
                             "item_4"
                             "item_2"
                             "item_5"
                             "item_3"
                             "item_6"; 
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
}
/**
*
* line_12 section
*
*/
.line_12 h2 {
    margin-bottom: 35px;
}
.items_2 {
	display: grid;
	grid-template-areas: "item_1 item_2 item_3"  
						 "item_4 item_5 item_6"; 
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;
    column-gap: 78px;
    margin-bottom: 45px;
}
.items_2 .item_1 {
	grid-area: item_1;
}
.items_2 .item_2 {
	grid-area: item_2;
}
.items_2 .item_3 {
	grid-area: item_3;
}
.items_2 .item_4 {
	grid-area: item_4;
}
.items_2 .item_5 {
	grid-area: item_5;
}
.items_2 .item_6 {
	grid-area: item_6;
}
.line12_col .img {
    border-bottom: 1px solid black;
    width: 100%;
    height: 100%;
}
.line12_col .text {
    padding-top: 15px;
}
.line12_col p {
    margin-bottom: 13px;
}
/* < 1400px */
@media screen and (max-width: 1399px) {
    .items_2 {
        column-gap: 31px;
    }
}
/* < 1200px */
@media screen and (max-width: 1199px) {
    .items_2 {
        grid-template-areas: "item_1 item_2"
                             "item_3 item_4"  
                             "item_5 item_6"; 
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
        column-gap: 74px;
        margin-bottom: 40px;
    }
    .line12_col img {
        /* width: 319px;
        height: 155px; */
    }
}
/* < 768px */
@media screen and (max-width: 767px) {}
/* < 575px */
@media screen and (max-width: 575px) {}
/**
*
* line_12_use section
*
*/
.line_12_use {
    background-color: #f6f6f6;
    padding-top: 40px;
}
.line_12_use h3 {
    margin-bottom: 30px;
}
.items_3 {
	display: grid;
	grid-template-areas: "item_1 item_2 item_3"; 
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(3, 1fr);
    column-gap: 79px;
    margin-bottom: 50px;
}
.items_3 .item_1 {
	grid-area: item_1;
}
.items_3 .item_2 {
	grid-area: item_2;
}
.items_3 .item_3 {
	grid-area: item_3;
}
.line_12_use .line12_col .img {
    border-bottom: none;
}
.line_12_use .img1,
.line_12_use .img2,
.line_12_use .img3 {
    display: block;
    width: 390px;
    height: 315px;
    cursor: pointer;
    transition: all 0.2s;
}
.line_12_use .img1 {
    background: url('../img/line12_use_01.png');
}
.line_12_use .img2 {
    background: url('../img/line12_use_02.png');
}
.line_12_use .img3 {
    background: url('../img/line12_use_03.png');
}
.line_12_use .img1:hover,
.line_12_use .img2:hover,
.line_12_use .img3:hover {
    background-position: -390px 0;
}
/* < 1400px */
@media screen and (max-width: 1399px) {
    .items_3 {
        column-gap: 30px;
    }
    .line_12_use .img1,
    .line_12_use .img2,
    .line_12_use .img3 {
        width: 362px;
        height: 292px;
    }
}
/* < 1200px */
@media screen and (max-width: 1199px) {
    .items_3 {
        grid-template-areas: "item_1"
                             "item_2"
                             "item_3"; 
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
        margin-bottom: 60px;
    }
    .line_12_use .items_3 .item_1 {
        background: url('../img/line12_use_01.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .line_12_use .items_3 .item_2 {
        background: url('../img/line12_use_02.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .line_12_use .items_3 .item_3 {
        background: url('../img/line12_use_03.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .line_12_col {
        width: 684px;
        height: 276px;
    }
    .line_12_use .img1:hover,
    .line_12_use .img2:hover,
    .line_12_use .img3:hover {
        background-position: 0 0;
    }
}
/* < 768px */
@media screen and (max-width: 767px) {}
/* < 575px */
@media screen and (max-width: 575px) {}
/**
*
* line_22 section
*
*/
.line_22 h2 {
    margin-bottom: 35px;
}
.items_4 {
	display: grid;
	grid-template-areas: "item_1 item_2 item_3 item_4"  
						 "item_5 item_6 item_7 item_8"; 
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 82px;
}
.items_4 .item_1 {
	grid-area: item_1;
}
.items_4 .item_2 {
	grid-area: item_2;
}
.items_4 .item_3 {
	grid-area: item_3;
}
.items_4 .item_4 {
	grid-area: item_4;
}
.items_4 .item_5 {
	grid-area: item_5;
}
.items_4 .item_6 {
	grid-area: item_6;
}
.items_4 .item_7 {
	grid-area: item_7;
}
.items_4 .item_8 {
	grid-area: item_8;
}
.line22_col img {
    width: 100%;
    height: 100%;
}
/* < 1400px */
@media screen and (max-width: 1399px) {
    .items_4 {
        column-gap: 36px;
    }
}
/* < 1200px */
@media screen and (max-width: 1199px) {
    .items_4 {
        grid-template-areas: "item_1 item_2 item_3"
                             "item_4 item_5 item_6"  
                             "item_7 item_8 item_9"; 
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        row-gap: 40px;
        column-gap: 45px;
        margin-bottom: 40px;
    }
    .line22_col img {
        /* width: 207px;
        height: 96px; */
    }
}
/* < 768px */
@media screen and (max-width: 767px) {}
/* < 575px */
@media screen and (max-width: 575px) {}
/**
*
* line_22_use section
*
*/
.line_22_use {
    background-color: #f6f6f6;
    padding-top: 40px;
}
.line_22_use h3 {
    margin-bottom: 30px;
}
.line_22_use .line12_col .img {
    border-bottom: none;
}
.line_22_use .img1,
.line_22_use .img2,
.line_22_use .img3 {
    display: block;
    width: 390px;
    height: 315px;
    cursor: pointer;
    transition: all 0.2s;
}
.line_22_use .img1 {
    background: url('../img/line22_use_01.png');
}
.line_22_use .img2 {
    background: url('../img/line22_use_02.png');
}
.line_22_use .img3 {
    background: url('../img/line22_use_03.png');
}
.line_22_use .img1:hover,
.line_22_use .img2:hover,
.line_22_use .img3:hover {
    background-position: -390px 0;
}
/* < 1400px */
@media screen and (max-width: 1399px) {
    .items_3 {
        column-gap: 30px;
    }
    .line_22_use .img1,
    .line_22_use .img2,
    .line_22_use .img3 {
        width: 362px;
        height: 292px;
    }
    .line_22_use .img1:hover,
    .line_22_use .img2:hover,
    .line_22_use .img3:hover {
        background-position: -390px 0;
    }
}
/* < 1200px */
@media screen and (max-width: 1199px) {
    .line_22_use .items_3 .item_1 {
        background: url('../img/line22_use_01.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .line_22_use .items_3 .item_2 {
        background: url('../img/line22_use_02.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .line_22_use .items_3 .item_3 {
        background: url('../img/line22_use_03.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .line_22_col {
        width: 684px;
        height: 276px;
    }
    .line_22_use .img1:hover,
    .line_22_use .img2:hover,
    .line_22_use .img3:hover {
        background-position: 0 0;
    }
}
/* < 768px */
@media screen and (max-width: 767px) {}
/* < 575px */
@media screen and (max-width: 575px) {}
/**
*
* parallax section
*
*/
.parallax_out.part1 {
    background-image: url("../img/parallax1.png");
}
.parallax_out.part2 {
    background-image: url("../img/parallax2.png");
}
.parallax_out.part3 {
    background-image: url("../img/parallax3.png");
}
.parallax_out {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
}
.parallax {
    background-color: #282828;
    opacity: 0.8;
    width: 100%;
}
.parallax_out.part1 ._body {
    height: 370px;
    padding-top: 60px;
}
.parallax_out.part2 ._body,
.parallax_out.part3 ._body {
    height: 485px;
    padding-top: 60px;
}
.parallax_out.part1 h2,
.parallax_out.part1 p {
    width: 635px;
}
.parallax_out.part2 h2,
.parallax_out.part2 p,
.parallax_out.part3 h2,
.parallax_out.part3 p {
    width: 700px;
}
.parallax_out h2 {
    margin-bottom: 20px;
}
.parallax_out p {
    margin-bottom: 20px;
}
/* < 1400px */
@media screen and (max-width: 1399px) {}
/* < 1200px */
@media screen and (max-width: 1199px) {}
/* < 768px */
@media screen and (max-width: 767px) {}
/* < 575px */
@media screen and (max-width: 575px) {}
/**
*
* form section
*
*/
.form_phone {
    margin-top: 55px;
    position: relative;
}
.form_phone::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* анимированная картинка загрузки */
    background: rgba(51, 51, 51, 0.9) url() center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
}
.form_phone._sending::after {
    opacity: 1;
    visibility: visible;
}
.input_phone {
    background-color: #282828;
    color: #f6f6f6;
    width: 273px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #f6f6f6;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    margin-right: 30px;
}
.input_phone._error {
    border-bottom: 1px solid #cc0000;
}
.input_phone::placeholder {
    color: #f6f6f6;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
}
.button_phone {
    background-color: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
    width: 273px;
    height: 50px;
    border: 1px solid #f6f6f6;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    cursor: pointer;
}
.button_phone.active {
    background-color: rgba(0, 0, 0, 1);
}
/* < 1400px */
@media screen and (max-width: 1399px) {}
/* < 1200px */
@media screen and (max-width: 1199px) {}
/* < 768px */
@media screen and (max-width: 767px) {}
/* < 575px */
@media screen and (max-width: 575px) {}
/**
*
* portfolio section
*
*/
.owl_items {
	display: grid;
	grid-template-areas: "item_1 item_2"; 
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(2, 1fr);
    column-gap: 33px;
}
.owl_items .item_1 {
	grid-area: item_1;
}
.owl_items .item_2 {
	grid-area: item_2;
}
.portfolio h2 {
    margin-bottom: 50px;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 209px;
    margin: 0!important;
}
.owl-next {
    right: 0;
}
.owl-prev {
    left: 0;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: unset!important;
}
.owl-dots {
    text-align: right!important;
    position: absolute;
    right: -10px;
    bottom: 80px;
}
.owl-dot span {
    background-color: #f1f1f1!important;
    border-radius: 0!important;
    width: 15px!important;
    height: 15px!important;
}
.owl-dot.active span {
    background-color: #282828!important;
    opacity: 0.2;
}
.slide {
    width: 644px;
    height: 466px;
}
.owl-carousel p.first {
    margin-top: 30px;
}
.owl-carousel p.second {
    margin-top: 15px;
}
/* < 1400px */
@media screen and (max-width: 1399px) {
    .slide {
        width: 558px;
        height: 399px;
    }    
    .owl-prev, .owl-next {
        top: 175px;
    }}
/* < 1200px */
@media screen and (max-width: 1199px) {
    .owl_items {
        grid-template-areas: "item_1"
                             "item_2"; 
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(1, 1fr);
        row-gap: 0;
    }
    .slide {
        width: 466px;
        height: 332px;
    }
    .owl-prev, .owl-next {
        top: 307px;
    }
    .owl-dots {
        text-align: left!important;
        left: -6px;
        bottom: -40px;
    }
}
/* < 768px */
@media screen and (max-width: 767px) {}
/* < 575px */
@media screen and (max-width: 575px) {}
/**
*
* visual section
*
*/
.visual h2 {
    margin-bottom: 50px;
}
/* < 1400px */
@media screen and (max-width: 1399px) {}
/* < 1200px */
@media screen and (max-width: 1199px) {}
/* < 768px */
@media screen and (max-width: 767px) {}
/* < 575px */
@media screen and (max-width: 575px) {}
/**
*
* faq section
*
*/
.faq h2 {
    margin-bottom: 50px;
}
.quest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    background-color: #F6F6F6;
    margin-bottom: 25px;
    position: relative;
    cursor: pointer;
    padding-left: 22px;
}
.quest::after {
    content: url('../img/down.png');
    position: absolute;
    right: 70px;
}
.quest.active {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.quest.active::after {
    content: url('../img/up.png');
}
.answ {
    display: none;
    padding-bottom: 40px;
    padding-left: 22px;
}
/* < 1400px */
@media screen and (max-width: 1399px) {
    .quest::after {
        right: 40px;
    }
}
/* < 1200px */
@media screen and (max-width: 1199px) {}
/* < 768px */
@media screen and (max-width: 767px) {}
/* < 575px */
@media screen and (max-width: 575px) {}
/**
*
* footer section
*
*/
.footer {
    background-image: url('../img/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer .title {
    margin-top: 60px;
    margin-bottom: 50px;
}
.items_5 {
	display: grid;
	grid-template-areas: "item_1 item_2 item_3 item_4"; 
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(4, 1fr);
    /* column-gap: 79px; */
    margin-bottom: 59px;
}
.items_5 .item_1 {
	grid-area: item_1;
}
.items_5 .item_2 {
	grid-area: item_2;
}
.items_5 .item_3 {
	grid-area: item_3;
}
.items_5 .item_4 {
	grid-area: item_4;
}
.items_5 .item_1,
.items_5 .item_2,
.items_5 .item_3,
.items_5 .item_4 {
    border-left: 1px solid #F6F6F6;
    padding-left: 40px;
}
.p1 {
    margin-bottom: 19px;
}
.p2 {
    margin-bottom: 30px;
}
.agreed {
    margin-top: 59px;
    margin-bottom: 20px;
}
/* < 1400px */
@media screen and (max-width: 1399px) {}
/* < 1200px */
@media screen and (max-width: 1199px) {}
/* < 768px */
@media screen and (max-width: 767px) {}
/* < 575px */
@media screen and (max-width: 575px) {}